.plant-list{
  width: 75%;
  height:auto;
  border-radius: 5px;
  display: block;
  margin-left:auto;
  margin-right: auto;
  vertical-align: middle;
  padding-bottom: 0px;
  padding-top: 0px;
  background-color:darkolivegreen;
}

mat-card-header{
  color: white;
  font-size: 16px;
  background-color: darkolivegreen;
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 0px;
  width:100%;

}

.mat-card-header .mat-card-title {
    margin-bottom: 12px;
}

.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
  margin-top: 0px;
}

.title-left{
  float: left;
  display: inline;
  font-weight: bold;
}

#calendar{
  float: right;
  display: inline;
  padding-right: 10px;
}

.title-right{
  float: right;
  display: inline;
  margin-top: 0px;
}

mat-card-content{
  display: inline-block;
  margin-bottom: 0px;
  width:100%;
  object-fit: cover;
}

img.mat-card-image{
width: calc(100% + 32px);
margin: 0 -16px 0 -16px;
border-radius: 5px;
height: 250px;
object-fit: cover;
margin-top:0px;
}

#add{
  top:0%;
  right:0%;
  display: inline;
  position: absolute;
  border-radius:5px;
  padding-top: 5px;
  padding-bottom:5px;
  color: white;
  border-color: transparent;
  background-color: #F69517;
}

#add:hover{
  color: white;
  border-color: transparent;
  background-color: #E2860E;

}


