.plant-list{
  width: 100%;
  height:auto;
  border-radius: 5px;
  vertical-align: middle;
  padding-bottom: 0px;
  padding-top: 0px;
  background-color:darkolivegreen;
  color: white;
  margin-bottom:0px;
}


.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
  margin-top: 0px;

}

.mat-card-title {
  display: block;
  margin-bottom: 0px;
}

mat-card-footer{
  padding-bottom:0px;
}

.card-footer{
  color: white;
  background-color: darkolivegreen;
  margin-top: 12px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
  text-align: center;
}

.title-left{
  font-weight: bold;
  font-size: 13px;
}

.more-info{
  color: darkolivegreen;
  border-color: darkolivegreen;
  background-color: white;
  font-size: 13px;
  font-weight:0px;
  margin-left:5px;
}

mat-card-content{
  margin-bottom: 0px;
  width:100%;
  object-fit: cover;
}

img.mat-card-image{
width: calc(100% + 32px);
margin: 0 -16px 0 -16px;
border-radius: 5px;
object-fit: cover;
margin-top:0px;
}

#add{
  top:0%;
  right:0%;
  display: inline;
  position: absolute;
  border-radius:5px;
  padding-top: 5px;
  padding-bottom:5px;
  color: white;
  border-color: transparent;
  background-color: #F69517;
}

#add:hover{
  color: white;
  border-color: transparent;
  background-color: #E2860E;
  cursor: pointer;
}

.mat-list .mat-list-item .mat-list-icon, .mat-nav-list .mat-list-item {
  width: 48px;
  font-size: 48px;
  color: #b4bcc2;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  display: block;
  height: auto;
  -webkit-tap-highlight-color: transparent;
  width: 100%;

}

.plants-info{
  width:100%;
  overflow-x:auto;
}

table{
  margin-top:5px;
  width: 100%;
}

th{
  padding-bottom:5px;
  font-weight: normal;
}

th, td{
  width: calc(100%/13);
  line-height: calc(100%/1.5);
}

.months-not-included{
  transform: scale(0.5);
  padding:0px;
  margin:0px;
}

.months-included{
  transform: scale(0.5);
  padding:0px;
  margin:0px;
}

.table-subtitle{
font-weight: bold;
}

