<div class="navigation">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button id="navbar-menu-link" (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon id="navbar-hamburger-link" *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon id="navbar-close" *ngIf="sidenav.opened">close</mat-icon>
      </button>
      <a mat-flat-button id="app-title" [routerLink]="['/home']">
        <h1>My Perma Garden</h1>
      </a>
      <span class="menu-spacer"></span>
      <div class="menu-buttons" fxShow="true" fxHide.lt-md fxFlex fxLayout>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a disableRipple="true" [routerLink]="['/garden']" mat-flat-button>Garden</a>
        <a disableRipple="true" class="plants-list" id="plants-list"
          [routerLink]="['/plants-list']" routerLinkActive="active-list-item" mat-flat-button>Plants</a>
        <a disableRipple="true" mat-flat-button [routerLink]="['/tasks']"
          routerLinkActive="active-list-item">Tasks</a>
        <a disableRipple="true" [routerLink]="['/history']" mat-flat-button>History</a>
      </div>
      <div fxFlex fxLayoutAlign="flex-end center">
        <a disableRipple="true" *ngIf="!auth.isAuthenticated()" id="login"
          [routerLink]="['/user/login']" routerLinkActive="active-list-item" mat-flat-button>Login</a>
        <mat-icon disableRipple="true" *ngIf="auth.isAuthenticated()" id="user-profile"
          class="profile" [routerLink]="['/user/profile']" routerLinkActive="active-list-item">account_circle</mat-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <a disableRipple="true" [routerLink]="['/garden']" mat-flat-button>Garden</a>
        <a disableRipple="true" [routerLink]="['/plants-list']"
          routerLinkActive="active-list-item" mat-button>Plants</a>
        <a disableRipple="true" mat-button [routerLink]="['/tasks']"
          routerLinkActive="active-list-item">Tasks</a>
        <a disableRipple="true" [routerLink]="['/history']" mat-button routerLinkActive="active-list-item">History</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
