<p>{{selectedPlant.plantName}}</p>
<p>Productivity Weight/Seeds: {{productivityWeightBySeed}}</p>
<p *ngIf="selectedPlant.plantSowingPeriod">Average transplant time achieved: {{averagePeriodBetweenSowingAndPlanting}}</p>
<p *ngIf="selectedPlant.plantSowingPeriod">Current transplant period recorded in the {{selectedPlant.plantName}} : {{plantPeriodBetweenSowingAndTransplant()}}</p>
<p>Average harvest time achieved: {{averagePeriodBetweenPlantingAndHarvesting}}</p>
<p>Current harvest period recorded in the {{selectedPlant.plantName}} :{{plantPeriodBetweenPlantingAndHarvesting()}} </p>
<p>Starting date recommended based on history: </p>
<p>Best planted with: list of plants in the same bed when productivty is highest: </p>
<p>highest productivity when in raised bed: </p>
