<h2>Create a patch</h2>

<div class="col-md-6">
  <form #newPatchForm="ngForm"  autocomplete="off" novalidate>

    <div class="form-group" [ngClass]="{'error': newPatchForm.controls.name?.invalid && newPatchForm.controls.name?.touched}">
      <div class="plant-name-group">
      <label for="patchName">Patch Name:</label>
      <em *ngIf="newPatchForm.controls.name?.invalid && newPatchForm.controls.name?.touched"> *Required</em>
      <input (ngModel)="newPatch.name" name="name" required id="name" type="text" class="form-control" placeholder="Name of your patch..." />
    </div>
    </div>


    <div class="form-group" [ngClass]="{'error': newPatchForm.controls.icon?.invalid && newPatchForm.controls.icon?.touched}">Select the shape:
      <mat-form-field appearance="fill" >
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="selectedIcon" name="icon" required>
          <mat-option class="icon" *ngFor="let icon of icons" [value]="icon.url">
            <p class="icon-name">{{icon.name}}</p>
            <img class="icon-url" [src]=icon.url />
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <div class="buttons">
        <button id="save-plant" mat-button type="submit" class="save-new-patch-button" [disabled]="newPatchForm.invalid">Save</button>
        <button id="cancel-button" mat-button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>


