html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green-snackbar {
  color: white;
  background-color: #5b8d27;
}

.red-snackbar {
  color: white;
  background-color: #FF6347;
  }


.orange-snackbar {
  color: white;
  background-color: #fa990e;
}

.mat-calendar-body-cell-content.mat-calendar-body-today{
  background-color: #a4dbe4 !important;
  border-color:#a4dbe4 !important;
}

.mat-calendar-body-selected{
  background-color: #5fc3d3!important;

}

.mat-datepicker-toggle .mat-icon-button {
  background-color: #a4dbe4 !important;
  color: black;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: #fecc47;
}
