<div class="container">
  <mat-card class="patch">
    <div class="header">
      <mat-card-title class="title">{{patch.patchName | titlecase}}</mat-card-title>
      <mat-icon class="icon-close" (click)="close()">close</mat-icon>
    </div>
    <!-- <button class="delete" (click)="delete()">
          <mat-icon>delete_outline</mat-icon>
        </button> -->
    <mat-card-content class="box">
      <img mat-card-image [src]="patch.patchImagePicture" alt={{patch.patchName}}>
    </mat-card-content>

    <mat-card-actions class="actions">
      <button mat-button class="tasks" (click)="openTask()" [routerLink]="['/tasks', patch.patchName]">Tasks</button>
      <button mat-button class="more-info" (click)="toggle() ">{{this.state == 'collapsed' ? 'More info': 'Less
        info'}}</button>
    </mat-card-actions>

    <mat-card-footer class="card-footer">
      <div class="patch-info" [@bodyExpansion]="state">
        <div class="plant-list">
          <h3 *ngIf="patch.plantList?.length">Plant(s) in this patch:</h3>
          <div class="plant" *ngFor="let plant of patch.plantList">
            <p>{{plant.plantName}}</p>
            <mat-icon class="delete-plant"
              (click)="deletePlantInPatch(plant.plantName, patch.patchName, plant.plantId, patch.patchId)">
              delete_outline</mat-icon>
          </div>
        </div>
        <div>

          <div *ngIf="patch.taskList?.length">
            <h3>You have {{patch.taskList?.length}} task in this patch</h3>
          </div>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
