<div>
  <mat-card class="patch">
    <mat-card-title class="title">{{patch.name | titlecase}}</mat-card-title>
    <button class="delete" (click)="delete()">
      <mat-icon>delete_outline</mat-icon>
    </button>
    <mat-card-content class="box">
      <img mat-card-image [src]="patch.icon" alt={{patch.name}}>
    </mat-card-content>

    <mat-card-actions class="actions">
      <button mat-button class="tasks" (click)="openTask()" [routerLink]="['/tasks', patch.name]">Tasks</button>
      <button mat-button class="edit-patch" (click)="editPatch()" [routerLink]="['/garden', patch.name]">
        Edit
        patch
      </button>
      <button mat-button class="more-info" (click)="toggle() ">{{this.state == 'collapsed' ? 'More info': 'Less info'}}</button>
    </mat-card-actions>

    <mat-card-footer class="card-footer">
      <div class="patch-info" [@bodyExpansion]="state">
        <div>
          <h3 *ngIf="patch.plantlist?.length">Plant(s) in this patch:</h3>
          <div *ngFor="let plantlist of patch.plantlist">
            {{plantlist.plantName}}
          </div>
        </div>
        <div>

          <div *ngIf="patch.tasklist?.length">
            <h3>You have {{patch.tasklist?.length}} task in this patch</h3>
          </div>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>

