.plant-list{
  max-width: 100%;
  height:auto;
  border-radius: 5px;
  vertical-align: middle;
  padding-bottom: 0px;
  padding-top: 0px;
  color: white;
  margin-bottom:0px;
}

.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
  margin-top: 0px;
}

.mat-card-title {
  display: block;
  margin-bottom: 0px;
}

mat-card-footer{
  padding-bottom:0px;
  vertical-align: middle;
}

.card-footer{
  color: #114b0b;
  margin-top: 12px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 12px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  display:inline-block;
}

.title-left{
  font-weight: bold;
  font-size: 16px;
  float:left;
}

.add-to-garden{
  font-size: 12px;
  font-weight:0px;
  color: white;
  border-color: #a4dbe4;
  background-color:#a4dbe4;
  float:right;
}

.more-info{
  color: white;
  border-color: #fecc47;
  background-color: #fecc47;
  font-size: 12px;
  font-weight:0px;
  float: right;
  margin-right: 5px;
}

.more-info:hover{
  color: white;
  border-color: #fa990e;
  background-color: #fa990e;
  font-size: 12px;
  font-weight:0px;
  float: right;
  margin-right: 5px;
}

.add-to-garden:hover{
  color: white;
  border-color: transparent;
  background-color: #5fc3d3;
  cursor: pointer;
}

mat-card-content{
  margin-bottom: 0px;
  width:100%;
  object-fit: cover;
  color:#114b0b;
}

img.mat-card-image{
max-width: calc(100% + 32px);
height:250px;
margin: 0 -16px 0 -16px;
border-radius: 5px;
object-fit: cover;
margin-top:0px;
}

.plants-info{
  width:100%;
  overflow-x:auto;
  overflow-y:hidden;
}

table{
  margin-top:4px;
  width: 100%;
}

th{
  padding-bottom:4px;
  font-weight: normal;
}

th, td{
  width: calc(100%/13);
  line-height: calc(100%/1.5);
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}



.months-not-included{
  transform: scale(0.5);
  padding:0px;
  margin:0px;
}

.months-included{
  transform: scale(0.5);
  padding:0px;
  margin:0px;
}

.table-subtitle{
font-weight: bold;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
  padding-left:4px;
  padding-right:4px;
}

.delete{
  position: absolute;
  top: 2px;
  left: 87%;
  border-radius: 5px;
  border-color: transparent;
  background-color: white;
}

.delete:hover{
  cursor:pointer;
  background-color:#fafafa;
}



