<div>
      <mat-card class="plant-list">
        <mat-card-content>
          <img mat-card-image [src]="plant.imageURL" alt={{plant.name}}>

          <div [@bodyExpansion]="state" class="plants-info">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>J</th>
                  <th>F</th>
                  <th>M</th>
                  <th>A</th>
                  <th>M</th>
                  <th>J</th>
                  <th>J</th>
                  <th>A</th>
                  <th>S</th>
                  <th>O</th>
                  <th>N</th>
                  <th>D</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table-subtitle">Sow</td>
                  <td [ngStyle]="{'color': this.month === 'January' ? '#DAA520' : 'darkolivegreen'}" *ngIf="this.plant.sowingMonths.includes('January');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td [ngStyle]="{'color': this.month === 'Febuary' ? '#DAA520' : 'darkolivegreen'}" *ngIf="this.plant.sowingMonths.includes('Febuary');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td [ngStyle]="{'color': this.month === 'March' ? '#DAA520' : 'darkolivegreen'}" *ngIf="this.plant.sowingMonths.includes('March');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td [ngStyle]="{'color': this.month === 'April' ? '#DAA520' : 'darkolivegreen'}" *ngIf="this.plant.sowingMonths.includes('April');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td [ngStyle]="{'color': this.month === 'May' ? '#DAA520' : 'darkolivegreen'}" *ngIf="this.plant.sowingMonths.includes('May');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td [ngStyle]="{'color': this.month === 'June' ? '#DAA520' : 'darkolivegreen'}" *ngIf="this.plant.sowingMonths.includes('June');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td [ngStyle]="{'color': this.month === 'July' ? '#DAA520' : 'darkolivegreen'}" *ngIf="this.plant.sowingMonths.includes('July');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td [ngStyle]="{'color': this.month === 'August' ? '#DAA520' : 'darkolivegreen'}" *ngIf="this.plant.sowingMonths.includes('August');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td [ngStyle]="{'color': this.month === 'September' ? '#DAA520' : 'darkolivegreen'}" *ngIf="this.plant.sowingMonths.includes('September');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td [ngStyle]="{'color': this.month === 'October' ? '#DAA520' : 'darkolivegreen'}" *ngIf="this.plant.sowingMonths.includes('October');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td [ngStyle]="{'color': this.month === 'November' ? '#DAA520' : 'darkolivegreen'}" *ngIf="this.plant.sowingMonths.includes('November');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td [ngStyle]="{'color': this.month === 'December' ? '#DAA520' : 'darkolivegreen'}" *ngIf="this.plant.sowingMonths.includes('December');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                </tr>
                <tr>
                  <td class="table-subtitle">Harvest</td>
                  <td *ngIf="plant.harvestingMonths.includes('January');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td *ngIf="plant.harvestingMonths.includes('Febuary');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td *ngIf="plant.harvestingMonths.includes('March');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td *ngIf="plant.harvestingMonths.includes('April');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td *ngIf="plant.harvestingMonths.includes('May');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td *ngIf="plant.harvestingMonths.includes('June');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td *ngIf="plant.harvestingMonths.includes('July');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td *ngIf="plant.harvestingMonths.includes('August');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td *ngIf="plant.harvestingMonths.includes('September');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td *ngIf="plant.harvestingMonths.includes('October');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td *ngIf="plant.harvestingMonths.includes('November');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                  <td *ngIf="plant.harvestingMonths.includes('December');else isNotIncluded"><mat-icon class="months-included">check_circle</mat-icon></td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>

        <mat-card-footer class="card-footer">

            <span><mat-card-title class="title-left">{{plant.name}}</mat-card-title></span>
              <button mat-button class="add-to-garden" (click)="addToGarden()">Add to garden</button>
              <button mat-button class="more-info" (click)="toggle() ">{{this.state == 'collapsed' ? 'More info': 'Less info'}}</button>

        </mat-card-footer>

      </mat-card>


  <ng-template #isNotIncluded>
    <td><mat-icon class="months-not-included">highlight_off</mat-icon></td>
  </ng-template>
</div>
