<div class="header">
  <h1>Edit</h1>
</div>

<div class="content">
  <div class="whole-page">
    <form #patchForm="ngForm" autocomplete="off" novalidate>

      <div class="edit">
        <div class="editing-fields">
          <div class="patch-name">
            <div class="form-group"
              [ngClass]="{'error': patchForm.controls.name?.invalid && patchForm.controls.name?.touched}">
              <label for="patch-name">Edit the patch name: </label>
              <em *ngIf="patchForm.controls.name?.invalid && patchForm.controls.name?.touched"> *Required</em>
              <input [(ngModel)]="patch.name" name="name" required id="name" type="text" class="form-control" />
            </div>
          </div>

          <div class="form-group"
            [ngClass]="{'error': patchForm.controls.icon?.invalid && patchForm.controls.icon?.touched}">Edit the shape:
            <em *ngIf="patchForm.controls.icon?.invalid && patchForm.controls.icon?.touched"> *Required</em>
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select ngDefaultControl [(ngModel)]="selectedIcon" name="icon" required>
                <mat-option class="icon" *ngFor="let icon of icons" [value]="icon.patchImagePicture">
                  <p class="icon-name">{{icon.patchImageTitle}}</p>
                  <img class="icon-url" [src]=icon.patchImagePicture />
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>



          <div class="form-group">Edit the plant list:
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select ngDefaultControl [(ngModel)]="selectedPlants" name="plantlist" multiple>
                <mat-option class="plants-name" *ngFor="let plant of plants | async" [value]="plant">
                  <p class="plant-name">{{plant.plantName}}</p>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="hidden" fxShow="true" fxHide.lt-md fxFlex fxLayout>

          <div class="vertical-line"></div>

          <div class="edited-fields">
            <div class="form-group">
              <div class="name-patch">
                <h2>{{patch.name}}</h2>
              </div>
            </div>
            <div class="form-group">

                <img [src]="selectedIcon" class="icon-selected">

            </div>
            <div class="form-group">
              <div class="plant-list-details">
                <div *ngFor="let plants of selectedPlants">
                  {{plants.plantName}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="buttons">
    <button id="save-plant" mat-button type="submit" class="save-edit-button" [disabled]="patchForm.invalid"
      (click)="saveEditedPatch(patchForm.value)">Save</button>
    <button id="cancel-button" mat-button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </div>
</div>
