.garden-canvas{
  padding: 0 20px;
  justify-content: center;
  color: #000409;
  margin: 16px 0px !important;
  overflow-x: auto;
}

svg{
  border: 1px solid black;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shape-buttons{
  background-color: white;
  border-style: solid;
  border-color: #5b8d27;
}

.garden-panel{
  margin-top: 25px;
  display: flex;
  border-color: #000409;
  border: solid;
  flex-direction: column;
  align-items: flex-start;
}

.rotate-changes{
  display:flex;
}

.rotate{
  background-color: rgb(176, 174, 174);
  margin:5px;
}

.save-changes{
  background-color: rgb(176, 174, 174);
  margin:5px;
}


