.error input{
  border-color:#dd553d;
}
.error ::-webkit-input-placeholder{
  color: #a19f9f;
}

.error ::-moz-placeholder{
  color: #a19f9f;
}

.error :-moz-placeholder{
  color: #a19f9f;
}

.error :-ms-input-placeholder{
  color: #a19f9f;
}

em {
  color:#dd553d;
  padding-left:5px;
  padding-right:5px;
}
