<div class="head">
  <div class="garden">
    <div class="title-left">
      <h2>Your garden</h2>
      <p>Select or create a new patch</p>
    </div>

    <div class="title-right">

      <button mat-button class="create-patch" (click)="createPatch()">Create a patch</button>
    </div>
  </div>


  <div class="my-patches">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" *ngFor="let patch of patches">
        <div class="my-patches">
          <app-patch-list
          [patch]="patch"
          (patchDeleted)="patchToDelete(patch)">
        </app-patch-list>
      </div>
      </div>
    </div>
  </div>
  </div>
