<h2>Your garden by areas</h2>

<div class="col-md-6">
  <form #newGardenPart="ngForm" autocomplete="off" novalidate>
    <div class="form-group"
      [ngClass]="{'error': newGardenPart.controls.height?.invalid && newGardenPart.controls.height?.touched}">
      <div class="plant-name-group">
        <label for="height">Enter height</label>
        <em *ngIf="newGardenPart.controls.height?.invalid && newGardenPart.controls.height?.touched"> *Required</em>
        <input (ngModel)="gardenArea.height" name="height" required id="height" type="number" class="form-control"
          placeholder="Height..." />
      </div>
    </div>
    <div class="form-group"
      [ngClass]="{'error': newGardenPart.controls.width?.invalid && newGardenPart.controls.width?.touched}">
      <div class="plant-name-group">
        <label for="width">Enter width</label>
        <em *ngIf="newGardenPart.controls.width?.invalid && newGardenPart.controls.width?.touched"> *Required</em>
        <input (ngModel)="gardenArea.width" name="width" required id="width" type="number" class="form-control"
          placeholder="Width..." />
      </div>
    </div>
    <div class="form-group">
      <div class="buttons">
        <!-- <button id="cancel-button" mat-button type="button" class="btn btn-default" (click)="cancel()">Cancel</button> -->
        <button id="save-garden-area" mat-button type="submit" class="save-new-plant-button"
          [disabled]="newGardenPart.invalid" (click)="saveNewGardenArea(newGardenPart.value)">
          Save</button>
      </div>
    </div>
  </form>

  <table>
    <tr *ngFor="let row of grid; index as rowIndex">
      <td *ngFor="let cell of row; index as columnIndex" (click)="this.selectPatchArea(rowIndex, columnIndex)">
        {{cell}}
      </td>
    </tr>
  </table>
