<div class="homepage-layout">

  <div class="body">
    <div class="tasks-list">
      <h2>Upcoming tasks in the garden</h2>
      <div class="my-tasks">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div fxFlex="33%" fxFlex.xs="50%" fxFlex.sm="50%" fxFlex.md="50%"
            *ngFor="let task of firstFourTasks as tasks">
            <div class="my-tasks">
              <app-task-details>
              </app-task-details>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-column">
      <div class="weather">
      <h2>Weather</h2>
      <app-weather></app-weather>
    </div>

    <div class="summary">
      <h2>Garden summary</h2>
      <app-summary></app-summary>
    </div>
  </div>
  </div>

</div>
