<div class="homepage-layout">

  <div class="body">
    <div class="tasks-list">
      <h2>Upcoming tasks in the garden</h2>

      <div class="no-task" *ngIf="tasks.length < 1 ">
        <app-no-task></app-no-task>
      </div>
      <div class="my-tasks">
        <div fxLayoutGap="16px grid">
          <div *ngFor="let patchWithoutParams of patches">
              <app-task-details
             [patchWithoutParams]="patchWithoutParams"
             [patchFromHomepage]="patchFromHomepage">
              </app-task-details>
          </div>
        </div>
      </div>
    </div>

    <div class="right-column">
      <div class="weather">
      <h2>Weather</h2>
      <app-weather></app-weather>
    </div>

    <div class="summary">
      <h2>Garden summary</h2>
      <app-summary></app-summary>
    </div>
  </div>
  </div>

</div>
