<div class="whole-page">
<div class="head">
  <div class="tasks">
    <div class="title-left">
      <h2>{{patch.patchName}}</h2>
    </div>

    <div class="title-right">
      <button mat-button class="create-task" (click)="createTask()" *ngIf="patch.plantList.length != 0" [routerLink]="['/create-task', patch.patchName]">Create a task</button>
      <button mat-button class="create-task" *ngIf="patch.plantList.length === 0" (click)="notificationForMissingPlants()">Create a task</button>
    </div>
  </div>

  <div class="no-task" *ngIf="patch.taskList < 1 ">
    <app-no-task></app-no-task>
  </div>

  <div class="my-tasks">
    <div fxLayoutGap="grid">
      <div>
        <div class="my-patches">
          <app-task-details>
          </app-task-details>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="go-back">
<button id="cancel-button" mat-button type="button" class="btn btn-default" (click)="cancel()">Go back</button>
</div>
</div>

