
  <div>
    <div class="title">
      <h2 class="title-left" mat-dialog-title >Select an image</h2>
      <div class="title-right">
        <input type="search" [(ngModel)]="search" placeholder="Search"/>
        <div *ngIf="(imgs | filter:search).length <1">
          Not found
        </div>
    </div>
</div>

  <mat-dialog-content class="select-images" >
      <mat-selection-list #imageSelected class="pick-image" label="imageUrl" fxLayout="row wrap" fxLayoutGap="10px grid" columns="4">
        <mat-list-option  class="checkbox"
        fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%"
        [disableRipple]="true" checkboxPosition="before"
        *ngFor="let img of (imgs | filter:search) as imgs" [value]="img.imageUrl">
          <p>{{img.title}}</p>
          <img class="img-responsive" [src]=img.imageUrl />
      </mat-list-option>
    </mat-selection-list>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button [mat-dialog-close] class="save-image-button" (click)="save()" >Save</button>
    <button mat-button class="cancel-button" (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
</div>

