<h2>Add a new plant</h2>

<div class="col-md-6">
  <form #newPlantForm="ngForm"  autocomplete="off" novalidate>

    <div class="form-group" [ngClass]="{'error': newPlantForm.controls.name?.invalid && newPlantForm.controls.name?.touched}">
      <div class="plant-name-group">
      <label for="plantName">Plant Name:</label>
      <em *ngIf="newPlantForm.controls.name?.invalid && newPlantForm.controls.name?.touched"> *Required</em>
      <input (ngModel)="newPlant.name" name="name" required id="name" type="text" class="form-control" placeholder="Name of your plant..." />
    </div>
    </div>

    <div class="form-group" [ngClass]="{'error': newPlantForm.controls.startingMethod?.invalid}">Select the prefered starting method:
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="selectedStartingMethods" name="startingMethod">
          <mat-option *ngFor="let startingMethod of startingMethods" [value]="startingMethod.value">
            {{startingMethod.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <em *ngIf="newPlantForm.controls.startingMethod?.invalid"> *At least one option needs to be selected</em>
    </div>

    <div class="form-group" [ngClass]="{'error': newPlantForm.controls.startingMonths?.invalid}">Tick the sowing or planting month(s):
      <em *ngIf="newPlantForm.controls.startingMonths?.invalid"> *At least one month needs to be selected</em>
      <mat-selection-list class="starting-months" name="startingMonths"  (ngModel)="newPlant.startingMonths" required >
        <mat-list-option class="starting-months-check" checkboxPosition="before" *ngFor="let month of monthData" [value]="month.name">
          {{month.name}}
        </mat-list-option>
      </mat-selection-list>
    </div>


    <div *ngIf="selectedStartingMethods && selectedStartingMethods== 'Sowing in pots'" class="form-group" id="sowingPeriodInDays" [ngClass]="{'error': newPlantForm.controls.sowingPeriodInDays?.invalid && newPlantForm.controls.sowingPeriodInDays?.touched}">
      <label for="sowingPeriodInDays">Germination period in pots before planting (in days):</label>
      <em *ngIf="newPlantForm.controls.sowingPeriodInDays?.invalid && newPlantForm.controls.sowingPeriodInDays?.touched"> *Required</em>
      <em *ngIf="newPlantForm.controls.sowingPeriodInDays?.invalid && newPlantForm.controls.sowingPeriodInDays.errors?.pattern"> **Must be numbers</em>
      <input (ngModel)="newPlant.sowingPeriodInDays" required name="sowingPeriodInDays"  id="sowingPeriodInDays" type="text" class="form-control" pattern = "[0-9]+" placeholder="For 3 months write 90..." />
    </div>

    <div class="form-group" [ngClass]="{'error': newPlantForm.controls.harvestingMonths?.invalid}">Tick the harvesting month(s):
      <em *ngIf="newPlantForm.controls.harvestingMonths?.invalid"> *At least one month needs to be selected</em>
      <mat-selection-list class="harvesting-months" name="harvestingMonths" (ngModel)="harvestingMonths" required >
        <mat-list-option class="harvesting-months-check" checkboxPosition="before" *ngFor="let month of monthData" [value]="month.name">
          {{month.name}}
        </mat-list-option>
      </mat-selection-list>

    </div>

    <div *ngIf="selectedStartingMethods && selectedStartingMethods!== 'Planting'" class="form-group" [ngClass]="{'error': newPlantForm.controls.harvestingPeriodInDays?.invalid && newPlantForm.controls.harvestingPeriodInDays?.touched}">
      <label for="harvestingPeriodInDays">Harvesting period(in days):</label>
      <em *ngIf="newPlantForm.controls.harvestingPeriodInDays?.invalid && newPlantForm.controls.harvestingPeriodInDays?.touched"> *Required</em>
      <em *ngIf="newPlantForm.controls.harvestingPeriodInDays?.invalid && newPlantForm.controls.harvestingPeriodInDays.errors?.pattern"> **Must be numbers</em>
      <input (ngModel)="newPlant.harvestingPeriodInDays" name="harvestingPeriodInDays" required id="harvestingPeriodInDays" type="text" class="form-control" pattern = "[0-9]+" placeholder="For 3 months write 90..." />
    </div>

    <div class="form-group" [ngClass]="{'error': newPlantForm.controls.imageUrl?.invalid && newPlantForm.controls.imageUrl?.touched && newPlantForm.controls.imageUrl?.errors?.pattern}" >
      <label for="ImageURL">Plant image: </label>
      <em *ngIf="newPlantForm.controls.imageUrl?.invalid && newPlantForm.controls.imageUrl?.touched"> *Required</em>
      <em *ngIf=" newPlantForm.controls.imageUrl?.errors?.pattern"> **You need to select a picture from the library</em>
      <input [(ngModel)]="imageUrl" [value]="imageUrl" name="imageUrl" id="imageUrl" type="text" required class="form-control" pattern="^(assets/images).*$" placeholder="Select an image"/>
      <button mat-button class="select-image" #imageUrlSelected (click)="openSelectImageDialog()" >Select Image</button>
    </div>

    <div class="form-group">
      <div class="buttons">
        <button id="save-plant" mat-button type="submit" class="save-new-plant-button" [disabled]="newPlantForm.invalid" (click)="savePlant(newPlantForm.value)" >Save</button>
        <button id="cancel-button" mat-button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>

