.error input{
  border-color:#dd553d;
}
.error ::-webkit-input-placeholder{
  color: #a19f9f;
}

.error ::-moz-placeholder{
  color: #a19f9f;
}

.error :-moz-placeholder{
  color: #a19f9f;
}

.error :-ms-input-placeholder{
  color: #a19f9f;
}

em {
  color:#dd553d;
}

.starting-months{
  display: flex;
  flex-flow: row wrap;
}

.starting-months-check{
  display: initial;
  width: 25%;
  align-items: center;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

.harvesting-months{
  display: flex;
  flex-flow: row wrap;
}

.harvesting-months-check{
  display: initial;
  width: 25%;
  align-items: center;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

.form-group{
  padding:10px;
  font-weight: bold;
}

h1{
  padding:10px;
  margin:0px
}

::ng-deep .mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate {
  background: #DAA520;
}

::ng-deep .mat-accent .mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
  border-color: #DAA520;
}

::ng-deep .mat-accent .mat-pseudo-checkbox::after {
  color: white;
}

label
{
  margin-bottom: 5px;
}

input
{
  width: auto;
  padding: 12px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.select-image{
  color: darkolivegreen;
  border-color: #DAA520;
  background-color: #FFD700;
  font-size: 12px;
  font-weight:500 !important;
  vertical-align: middle;
  margin-left:12px;
  margin-top: 7px;

}

.save-new-plant-button{
  font-size: 12px;
  color: white !important;
  border-color: #6B8E23;
  background-color:#6B8E23;
  font-weight: 500;
}

.save-new-plant-button:hover{
  color: white;
  border-color: transparent;
  background-color: darkolivegreen;
  cursor: pointer;
  font-weight: 500;
}

.buttons{
  display: inline;
}

#select-image-dialog{
  display: inline-flex;
  width: 25%;
  vertical-align: middle;
}

#imageURL{
float: left;
}


