<div>
  <mat-card class="patch">
    <mat-card-content class="box">
      <mat-card-title class="title">{{patch.name | titlecase}}</mat-card-title>
      <button class="delete"><mat-icon>delete_outline</mat-icon></button>
      <img mat-card-image [src]="patch.icon" alt={{patch.name}}>
    </mat-card-content>

    <mat-card-actions class="actions">
      <button mat-button class="tasks">Tasks</button>
      <button mat-button class="edit-patch">Edit patch</button>
      <button mat-button class="more-info" (click)="toggle() ">{{this.state == 'collapsed' ? 'More info': 'Less info'}}</button>
    </mat-card-actions>

    <mat-card-footer class="card-footer">
      <div class="patch-info" [@bodyExpansion]="state">
        <div>
          <div *ngFor="let plantlist of patch.plantlist">
            {{plantlist.name}}
          </div>
        </div>
      </div>

    </mat-card-footer>

  </mat-card>
