<div fxLayout="row wrap" fxLayoutGap="16px grid" class="task-details">
  <div *ngFor="let task of taskList">
    <mat-card >
      <mat-card-header>
        <mat-card-title class="title"> {{patchName | titlecase}}</mat-card-title>
      </mat-card-header>

      <mat-card-actions class="actions">
        <div class="task-info">
          <p>{{getPlantName(task.plantId)}}</p>
          <img mat-card-image class="plant-image" [src]="getPlantPicture(task.plantId)" alt={{getPlantPicture(task.plantId)}}>
          <p *ngIf="task.transplantDate === null; else transplantDate"> Current task: {{task.currentTask}} started on {{task.startingDate | date:'dd/MM/yyyy'}}</p>
          <p class="next-task">Next task: {{task.nextTask}} from {{task.nextDate | date:'dd/MM/yyyy' }}</p>
        </div>
      </mat-card-actions>

      <mat-card-footer [ngClass]="{
    'past': isTaskLate(task) ,
    'today': isTaskToday(task),
    'this-week': isTaskThisWeek(task) ,
    'coming': isTaskComing(task)}">
          <button mat-button class="open-button" (click)="openTask(task)">Complete</button>
          <button mat-button class="delete-patch" (click)="deleteTask(task.taskId)">Delete</button>
      </mat-card-footer>
    </mat-card>


    <ng-template #transplantDate>
      <p>Current task: {{task.currentTask}} started on {{task.transplantDate | date:'dd/MM/yyyy'}}</p>
    </ng-template>

  </div>
</div>


