<div>
  <mat-card
  [ngClass]=" {
  'past': task.daysDifferenceBetweenTaskAndToday < 0 ,'today': task.daysDifferenceBetweenTaskAndToday === 0 ,'this-week': task.daysDifferenceBetweenTaskAndToday >= 1 && task.daysDifferenceBetweenTaskAndToday <= 7 , 'later': task.daysDifferenceBetweenTaskAndToday >= 8}">
  <mat-card-header>
  <mat-card-title class="title"> {{patchName | titlecase}}</mat-card-title>
  </mat-card-header>

  <mat-card-actions class="actions">
  <div class="task-info">
  <p>{{task.plant.plantName}}</p>
  <p>Current task: {{task.currentTask}} started on {{task.startingDate | date:'dd/MM/yyyy'}}</p>
  <p class="next-task">Next task: {{task.nextTask}} from {{task.nextDate | date:'dd/MM/yyyy' }}</p>
  </div>
  </mat-card-actions>

  <mat-card-footer class="card-footer">
  <button mat-button class="open-button" (click)="openTask()">Complete</button>
  <button mat-button class="delete-patch" (click)="deleteTask()">Delete</button>

  </mat-card-footer>
  </mat-card>
</div>
