.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px !important;
  padding-right: 25px !important;
  align-content: center;
}

.mat-h2, .mat-title, h2 {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px !important;
}

p {
  padding-left: 16px !important;
}

.title-right {
  float: center;
  padding-right: 16px !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: flex-end;

}

.create-patch {
  color: white;
  border-color: #a4dbe4;
  background-color: #a4dbe4;
  font-size: 12px;
  font-weight: 0px;
  float: right;
  margin-bottom: 5px;
}

.create-patch:hover {
  color: white;
  border-color: #5fc3d3;
  background-color: #5fc3d3;
}

.my-tasks {
  padding: 0 20px;
  justify-content: center;
  color: #000409;
}

.title-left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-between;
}

.filters {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px !important;
}

.head{
  margin-bottom: 16px;
}





