<div class="head">
  <div class="tasks">
    <div class="title-left">
      <h2>All the tasks in your garden</h2>
    </div>
    <div class="title-right">
      <button mat-button class="create-patch" (click)="createTask()">Create a task</button>
    </div>
  </div>

  <div class="my-tasks">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" *ngFor="let patchWithoutParams of patches">
        <div class="my-tasks">
          <app-task-details
          [patchWithoutParams]="patchWithoutParams"
          >
          </app-task-details>
        </div>
      </div>
    </div>
  </div>
</div>
