.navigation{
  height: 80vh;
}

mat-toolbar {
  background: #5b8d27;
  color: white;
  font-weight: normal;
}

mat-toolbar-row{
display:flex;
justify-content: flex-start;
padding: 0 25px;
}

.mat-flat-button{
  font-weight: normal;
  background-color: transparent !important;
  color:white;

}

.mat-flat-button:not([disabled]):hover{
  color:#DCDCDC;
  background-color: transparent !important;
}

.mat-flat-button:focus {
  outline: none !important;
}

.mat-list-item{
  color: #000409;
}

mat-sidenav {
  width: 150px;
  border-right: none;
  background:white;
  border-radius: 5px;
  padding: 16px;
  color:#5b8d27;

}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-spacer {
  flex: 1 1 initial;
}

.mat-drawer-content{
overflow: auto;
}

.active-list-item{
  color: #000409 !important;
  font-weight: 500;
  text-decoration: underline;
}

.menu-buttons{
  display:flex;
  background-color: transparent !important;
}

.material-icons {
  transform: scale(1.5);
}

.material-icons:hover {
  color:#DCDCDC;
  cursor: pointer;
}

h1{
  font-size: 20px;
}

.mat-button:hover{
  background-color: transparent !important;
}

