.navigation{
  height: 80vh;
}

mat-toolbar {
  background: #6B8E23;
  color: white;
  font-weight: normal;
}
mat-toolbar-row{
display:flex;
justify-content: flex-start;
}

.mat-button{
  font-weight: normal;
}

.mat-list-item{
  color: #6B8E23;
}

mat-sidenav {
  width: 150px;
  border-right: none;
  background:white;
  border-radius: 5px;
  padding: 16px;
  color:#6B8E23;

}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-spacer {
  flex: 1 1 initial;
}

.mat-drawer-content{
overflow: auto;
}

.active-list-item{
  color: #FFD700 !important;
}

.profile{
  float: right !important;
}

.setting{
  display: inline-flex;
}

.menu-buttons{
  display:flex;
  justify-content: space-between;
}
