.task{
  padding-bottom: 0px;
  padding-top: 0px;

}

.mat-card-title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding-top:12px;
}

mat-card-footer{
  padding-bottom:0px;
  vertical-align: middle;
}

.card-footer{
  margin-top: 12px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 12px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  display:inline-block;
}

.title{
  font-weight: bold;
  font-size: 16px;
  float:left;
}

mat-card-content{
  margin-bottom: 0px;
  width:100%;
  object-fit: cover;
  color:#114b0b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

mat-card-actions{
  margin-bottom: 0px;
  width:100%;
  object-fit: cover;
  color:#114b0b;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 0px;
}

.delete{
  position: absolute;
  top: 12px;
  left: 87%;
  border-radius: 5px;
  border-color: transparent;
  background-color: white;
}

.delete:hover{
  cursor:pointer;
  background-color:#fafafa;
}

.task-info{
  width:100%;
  overflow-x:auto;
  overflow-y:hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today{
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: #fa990e;
  opacity: 80%;
  color:#114b0b;
}

.this-week{
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: #fecc47 ;
  opacity: 80%;
  color:#114b0b;

}

.later{
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: white ;
}

.next-task{
  padding-bottom: 0px;
  padding-top: 0px;
  font-weight: bold;
  font-size: 14px;
}

.past{
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: #fa450e;
  opacity: 80%;
  color:#114b0b;
}
